#table{
	
    	color:black;
    	padding:10px; 
	width: 50%;
	
	font-family:Trebuchet MS;
	margin:auto;
	text-align:center;
}
table, th, td {
	border: 3px solid black;
	border-collapse: collapse;
  }
  th, td {
	padding: 15px;
  }


